body {
  background-color: grey;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
}

header .control-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 23%;
  min-width: 240px;
}

@media screen and (max-width: 800px) {
  header .control-panel {
    width: 100%;
  }
}

header .control-panel .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .control-panel .button-change-background {
  width: 44px;
  height: 44px;
  background: url("./assets/image/RefreshBG.svg") 100% 100% no-repeat no-repeat;
  background-color: #c91414;
  border-radius: 7px;
  margin-right: 10px;
  cursor: pointer;
}

header .control-panel .button-change-background:hover {
  background-color: rgba(67, 154, 189, 0.801);
}

header .control-panel .change-language {
  width: 71px;
  height: 44px;
  cursor: pointer;
}

header .control-panel .change-language select {
  width: 100%;
  height: 100%;
  background: #aeb5b9;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

header .control-panel .change-language select:hover {
  background-color: rgba(67, 154, 189, 0.801);
}

header .control-panel .buttons-change-temperature-units {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .control-panel .buttons-change-temperature-units .button-imperial,
header .control-panel .buttons-change-temperature-units .button-metric {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 44px;
  width: 48px;
  background: rgba(76, 82, 85, 0.4);
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}

header .control-panel .buttons-change-temperature-units .button-imperial.active,
header .control-panel .buttons-change-temperature-units .button-metric.active {
  background: #c21414;
}

header .control-panel .buttons-change-temperature-units .button-imperial:hover,
header .control-panel .buttons-change-temperature-units .button-metric:hover {
  background-color: rgba(67, 154, 189, 0.801);
}

header .control-panel .buttons-change-temperature-units .button-imperial {
  border-radius: 5px 0 0 5px;
}

header .control-panel .buttons-change-temperature-units .button-metric {
  border-radius: 0 5px 5px 0;
}

header form.form-search {
  width: 390px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  padding: 0;
}

@media screen and (max-width: 800px) {
  header form.form-search {
    margin-top: 15px;
    width: 100%;
  }
}

header form.form-search input[type='search'] {
  padding-left: 4%;
  padding-right: 4%;
  height: 100%;
  width: 100%;
  min-width: 200px;
  background: rgba(140, 143, 145, 0.5);
  border: 1px solid rgba(228, 227, 227, 0.2);
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  border-radius: 5px 0 0 5px;
  cursor: pointer;
}

header form.form-search input[type='search']:hover {
  background-color: rgba(47, 149, 189, 0.39);
}

header form.form-search input[type='submit'] {
  position: relative;
  right: 1px;
  height: 98%;
  width: 75px;
  background: rgba(17, 16, 16, 0.884);
  border: 0;
  border-radius: 0 5px 5px 0;
  font-weight: bold;
  font-size: 15px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  margin: 0;
}

header form.form-search input[type='submit']:hover {
  background-color: rgba(67, 154, 189, 0.801);
}

header form.form-search .voice-search {
  height: 44px;
  width: 45px;
  background: url("./assets/image/speak.svg") center center no-repeat no-repeat;
  background-size: contain;
  background-color: rgba(163, 44, 44, 0.425);
  margin-right: 10px;
  border-radius: 5px;
  border: none;
}

header form.form-search .voice-search:hover {
  cursor: pointer;
  background-color: rgba(67, 154, 189, 0.801);
}

header form.form-search .voice-search:focus {
  outline: none;
}

header form.form-search .voice-search__animation {
  -webkit-animation: voice 6s ease-in-out;
          animation: voice 6s ease-in-out;
}

@-webkit-keyframes voice {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  20% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  30% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  40% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  50% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  60% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  70% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  80% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  90% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes voice {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  20% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  30% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  40% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  50% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  60% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  70% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  80% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  90% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.block-geodata {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 20px;
  margin-right: 20px;
}

.block-geodata .block-weather {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: white;
  width: 350px;
  height: 100%;
  padding: 20px;
  border-radius: 20px;
  background-color: rgba(39, 36, 36, 0.377);
}

.block-geodata .block-weather_title {
  margin: 0;
  font-weight: 700;
  font-size: 1.8em;
  letter-spacing: 0.02em;
  line-height: 40px;
  text-transform: uppercase;
}

.block-geodata .block-weather_date {
  font-size: 1.1em;
  margin-top: 1vh;
  margin-bottom: 0;
  letter-spacing: 0.06em;
}

.block-geodata .block-weather_icon-temp {
  height: 100px;
  width: 70%;
  margin: 0;
  padding: 0;
}

.block-geodata .block-weather .current-weather {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 2px solid red;
}

.block-geodata .block-weather .current-weather_temp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 7em;
  line-height: 120%;
  position: relative;
}

.block-geodata .block-weather .current-weather_temp .degrees {
  font-family: 'Montserrat', sans-serif;
  line-height: 100%;
  padding: 0;
  margin: 0 0 0 5px;
  font-size: 0.4em;
}

.block-geodata .block-weather .current-weather_info {
  font-family: 'Montserrat', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 0.7em;
  padding: 0 0 12px 0;
  margin: 0 0 0 30px;
  line-height: 1.7em;
  letter-spacing: 0.12em;
  text-transform: uppercase;
}

.block-geodata .block-weather .current-weather_info p {
  margin: 0;
}

.block-geodata .block-weather .three-days-weather {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 3vh;
}

.block-geodata .block-weather .three-days-weather_day {
  text-transform: uppercase;
  font-size: 0.7em;
  letter-spacing: 0.12em;
}

.block-geodata .block-weather .three-days-weather_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  font-size: 2em;
}

.block-geodata .block-weather .three-days-weather_info .second-icon,
.block-geodata .block-weather .three-days-weather_info .third-icon,
.block-geodata .block-weather .three-days-weather_info .fourth-icon {
  color: transparent;
  width: 50px;
  height: 50px;
}

.block-geodata .block-geolocation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.block-geodata .block-geolocation_map {
  width: 350px;
  height: 350px;
  border-radius: 15px;
  overflow: hidden;
}

@media screen and (max-width: 800px) {
  .block-geodata .block-geolocation_map {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.block-geodata .block-geolocation_coordinates {
  width: 40%;
  height: 50px;
  margin-top: 15px;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  color: white;
  font-weight: bold;
  text-align: left;
  line-height: 25px;
  letter-spacing: 0.09em;
  background-color: rgba(39, 36, 36, 0.377);
  border-radius: 15px;
  padding: 5px 10px;
}

.block-geodata .block-geolocation_coordinates p {
  margin: 0;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .block-weather {
    margin: 0 auto;
  }
  .block-geolocation {
    margin: 0 auto;
    margin-top: 40px;
  }
}

body {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
}
/*# sourceMappingURL=style.css.map */